# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=b2c5872e-a4d5-400a-bed7-fb62d51615ff

    # Set to true to disable all reporting
    B:opt-out=false
}


