# Configuration file

##########################################################################################################
# armor
#--------------------------------------------------------------------------------------------------------#
# Modify the effects armor has on entities when worn
##########################################################################################################

armor {

    "item_cactushelmItem_[Ljava_lang_String;@1640d9b8" {
        S:01.ID=desertcraft:Cactus Helm
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    "item_cactuschestItem_[Ljava_lang_String;@9d93650" {
        S:01.ID=desertcraft:Cactus Chest
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.0
        D:09.Air=0.0
        B:"10.Allow Camel Pack"=true
    }

    "item_cactuslegsItem_[Ljava_lang_String;@7bf034" {
        S:01.ID=desertcraft:Cactus Legs
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    "item_cactusbootsItem_[Ljava_lang_String;@7fcc299e" {
        S:01.ID=desertcraft:Cactus Boots
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

}


##########################################################################################################
# blocks
#--------------------------------------------------------------------------------------------------------#
# Customise the physical properties and environmental effects of blocks
##########################################################################################################

blocks {

    "tile_pamdesertPlant_Desert Plants" {
        S:01.Name=desertcraft:Desert Plants
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=1.0
        D:09.Sanity=0.1
        S:10.Stability=none
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    "tile_pamglasssteelWindow_Glass Steel Window" {
        S:01.Name=desertcraft:Glass Steel Window
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=average
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

}


##########################################################################################################
# items
#--------------------------------------------------------------------------------------------------------#
# Custom effects for items
##########################################################################################################

items {

    "tile_pamdesertPlant_Desert Plants" {
        S:01.Name=desertcraft:Desert Plants
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=0.0
        D:"05.Ambient Air Quality"=0.025
        D:"06.Ambient Santity"=0.1
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    "tile_pamglasssteelWindow_Glass Steel Window" {
        S:01.Name=desertcraft:Glass Steel Window
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=37.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    "item_cactusaxeItem_Cactus Axe" {
        S:01.Name=desertcraft:Cactus Axe
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=37.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    "item_cactushoeItem_Cactus Hoe" {
        S:01.Name=desertcraft:Cactus Hoe
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=37.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    "item_cactuspickaxeItem_Cactus Pickaxe" {
        S:01.Name=desertcraft:Cactus Pickaxe
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=37.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    "item_cactusshovelItem_Cactus Shovel" {
        S:01.Name=desertcraft:Cactus Shovel
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=37.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    "item_cactusswordItem_Cactus Sword" {
        S:01.Name=desertcraft:Cactus Sword
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=37.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    "item_cactushelmItem_Cactus Helm" {
        S:01.Name=desertcraft:Cactus Helm
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=37.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    "item_cactuschestItem_Cactus Chest" {
        S:01.Name=desertcraft:Cactus Chest
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=37.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    "item_cactuslegsItem_Cactus Legs" {
        S:01.Name=desertcraft:Cactus Legs
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=37.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    "item_cactusbootsItem_Cactus Boots" {
        S:01.Name=desertcraft:Cactus Boots
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=37.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    "item_sandstoneaxeItem_Sandstone Axe" {
        S:01.Name=desertcraft:Sandstone Axe
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=37.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    "item_sandstonehoeItem_Sandstone Hoe" {
        S:01.Name=desertcraft:Sandstone Hoe
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=37.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    "item_sandstonepickaxeItem_Sandstone Pickaxe" {
        S:01.Name=desertcraft:Sandstone Pickaxe
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=37.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    "item_sandstoneshovelItem_Sandstone Shovel" {
        S:01.Name=desertcraft:Sandstone Shovel
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=37.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    "item_sandstoneswordItem_Sandstone Sword" {
        S:01.Name=desertcraft:Sandstone Sword
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=37.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    "item_glasssteelaxeItem_Glasssteel Axe" {
        S:01.Name=desertcraft:Glasssteel Axe
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=37.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    "item_glasssteelhoeItem_Glasssteel Hoe" {
        S:01.Name=desertcraft:Glasssteel Hoe
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=37.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    "item_glasssteelpickaxeItem_Glasssteel Pickaxe" {
        S:01.Name=desertcraft:Glasssteel Pickaxe
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=37.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    "item_glasssteelshovelItem_Glasssteel Shovel" {
        S:01.Name=desertcraft:Glasssteel Shovel
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=37.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    "item_glasssteelswordItem_Glasssteel Sword" {
        S:01.Name=desertcraft:Glasssteel Sword
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=37.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    "item_glasssteelItem_Glasssteel Ingot" {
        S:01.Name=desertcraft:Glasssteel Ingot
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=37.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

}


